diffusers==0.28.0
accelerate==0.30.1
transformers==4.41.1
fastapi==0.111.0
pydantic==2.7.2
Pillow==10.3.0
python-multipart==0.0.9
uvicorn==0.30.0
huggingface_hub==0.23.2
xformers==0.0.23
triton>=2.1.0

peft==0.11.1
deepcache==0.1.1
safetensors==0.4.3
scipy==1.13.0
numpy==1.26.4

torch
transformers
soundfile
g2p-en
opencv-python
librosa==0.8.1
opencv-contrib-python>=4.2.0.34
opencv-python==4.7.0.72
torch>=1.7
torchvision>=>=0.8.2
tqdm==4.48
numba>=0.56.4

basicsr>=1.3.4.0
facexlib>=0.2.3
lmdb
pyyaml
scipy
tb-nightly
yapf
realesrgan

ffmpeg