vllm==0.8.5
diffusers
accelerate
transformers
fastapi
pydantic
Pillow
python-multipart
uvicorn
huggingface_hub
xformers
triton
peft
deepcache
safetensors
scipy
numpy
av
sentencepiece
protobuf
bitsandbytes
psutil
nvidia-ml-py>=12.560.30
pynvml==12.0.0
prometheus_client>=0.21.1
